$homeZIndexSection1: 1
$homeZIndexSection2: 2
    
#page-home
    & > .col
        & > .row
            &:nth-child(1)
                z-index: $homeZIndexSection1
                padding-bottom: $borderRadius + px
                #welcome-text
                    height: inherit
                    padding-left: 0px
                    text-align: right
                    
                    h1, h2, h3
                        font-family: 'RaiderCrusader'
                        background-color: $blackTransparencyLow
                        padding-top: 20px
                        padding-bottom: 20px
                        padding-left: 100px
                        padding-right: 35px
                        transform: translateX(-$borderRadius + px)
                        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 25px), calc(100% - 25px) 100%, calc(100% - 675px) 100%, calc(100% - 700px) calc(100% - 25px), 0% calc(100% - 25px))
                
                #avatar-cutout-container
                    #avatar-cutout
                        padding-top: $borderRadius + px
                        max-height: 100vh
            &:nth-child(2)
                z-index: $homeZIndexSection2
                background-color: $black
                color: $white

@include media-breakpoint-up(sm) // [768px] Larger Than Small
@include media-breakpoint-up(md) // [992px] Larger Than Medium
    #page-home
        & > .col
            & > .row
                &:nth-child(1)
                    #welcome-text
                        & > .row
                            height: calc(100vh - #{$bootstrapMargin * 4}px)

@include media-breakpoint-up(lg) // [1200px] Larger Than Larger
@include media-breakpoint-up(xl) // [14000px] Larger Than XLarger
@include media-breakpoint-down(sm) // [767.98px] Smaller Than Small
@include media-breakpoint-down(md) // [991.98px] Smaller Than Medium
    #page-home
        & > .col
            & > .row
                &:nth-child(1)
                    #welcome-text
                        h1, h2, h3
                            min-width: 100%
                            padding-left: 10px

@include media-breakpoint-down(lg) // [1199.98px] Smaller Than Large
@include media-breakpoint-down(xl) // [1399.98px] Smaller Than XLarge
@include media-breakpoint-only(sm) // [768px] Small Only
@include media-breakpoint-only(md) // [992px] Medium Only
@include media-breakpoint-only(lg) // [1200px] Large Only
@include media-breakpoint-only(xl) // [1400px] XLarge Only
