$homeZIndexSection1: 1
$homeZIndexSection2: 2
    
#page-home
    & > .col
        & > .row
            background-repeat: no-repeat
            background-size: cover
            background-attachment: fixed
            background-position: center

            &:nth-child(1)
                z-index: $homeZIndexSection1
                padding-bottom: $borderRadius + px
                #welcome-text
                    padding-left: 0px
                    text-align: right
                    
                    h1, h2, h3
                        font-family: 'RaiderCrusader'
                        background-color: $materialYouColour1TransparencyLow
                        padding-top: 20px
                        padding-bottom: 20px
                        padding-left: 100px
                        padding-right: 35px
                        display: inline-block
                        transform: translateX(-$borderRadius + px)
                        clip-path: polygon(0% 25px, 25px 0%, 100% 0%, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0px 100%)
                
                #avatar-cutout-container
                    #avatar-cutout
                        padding-top: $borderRadius + px
                        max-height: 80vh
            &:nth-child(2)
                z-index: $homeZIndexSection2
                background-color: $black
                color: $white

@include media-breakpoint-up(lg) // [1200px] Larger Than Larger
    #page-home
        & > .col
            & > .row
                height: 100%

                &:nth-child(1)
                    #welcome-text
                        height: inherit

                        & > .row
                            height: calc(100vh - #{$bootstrapMargin * 4}px)

@include media-breakpoint-down(lg) // [1199.98px] Smaller Than Large
    #page-home
        & > .col
            & > .row
                &:nth-child(1)
                    #welcome-text
                        h1, h2, h3
                            min-width: 100%
                            padding-left: 10px
