@import "home"
@import "blog"
@import "projects"
@import "gaming"
@import "media"
@import "setups"

#main-body, #main-border, #page-transitioner, #page-transitioner-pre
    position: fixed
    right: 0px
    overflow-x: hidden
    overflow-y: visible

#main-body, #page-transitioner
    width: unset !important
    z-index: $zIndexMain

#page-transitioner, #page-transitioner-pre
    opacity: 0
    z-index: $zIndexPageTransitioner

#page-transitioner
    background-color: $materialYouColour1

#page-transitioner-pre
    background-color: $materialYouColour2
    top: 0px
    bottom: 0px
    left: 0px

#main-border
    background-color: $materialYouColour1
    z-index: $zIndexMainBorder

#background-img
    position: fixed
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px

.page
    height: 100%

    & > .col
        height: inherit

        & > .row
            background-repeat: no-repeat
            background-position: center
            background-size: cover

            &.f-h
                height: 100%

            &:nth-child(1)
                min-height: 100%

    .section
        position: relative
        border-radius: #{math.div($borderRadius, 2)} + px
        margin-top: -$borderRadius + px
        margin-bottom: -$borderRadius + px
        padding-top: $borderRadius + px
        padding-bottom: $borderRadius + px
        padding-left: $borderRadius + px
        padding-right: $borderRadius + px

        &:last-child
            border-bottom-right-radius: 0px

@include media-breakpoint-up(sm)
    #main-body, #page-transitioner
        top: #{$bootstrapMargin * 2 - 8} + px
        bottom: #{$bootstrapMargin * 2 - 8} + px
        left: #{$navigationBarWidth + $bootstrapMargin - 4} + px
    #main-body, #main-border
        clip-path: polygon(0% 50px, 50px 0%, 100% 0%, 100% 100%, 50px 100%, 0% calc(100% - 50px))
    #main-border
        top: #{$bootstrapMargin - 4} + px
        bottom: #{$bootstrapMargin - 4} + px
        left: $navigationBarWidth + px

@include media-breakpoint-up(md)
@include media-breakpoint-up(lg)
@include media-breakpoint-up(xl)
@include media-breakpoint-down(sm)
@include media-breakpoint-down(md)
    #main-body, #page-transitioner
        top: 0px
        bottom: 0px
        left: 18px
    #main-body, #main-border
        clip-path: polygon(0% 20px, 20px 0%, 100% 0%, 100% 100%, 20px 100%, 0% calc(100% - 20px))
    #main-border
        top: 0px
        bottom: 0px
        left: 0px

@include media-breakpoint-down(lg)
@include media-breakpoint-down(xl)
@include media-breakpoint-only(sm)
@include media-breakpoint-only(md)
@include media-breakpoint-only(lg)
@include media-breakpoint-only(xl)
