<div class="row">
    <div class="col">
        <div class="row justify-content-center">
            <!--<div id="media-header" class="col-6 rounded-bottom">
                <h1>Stryxus' Media</h1>
                <p>Here you can check out all photography and videography created by Stryxus in near lossless AVIF detail!</p>
                <p>By clicking on any of the media, you will be able to edit it to your liking and download a lossless copy of your preferred format. You will also be presented with unprecedented detail about the photo or video.</p>
            </div>-->
        </div>
        <div class="row">
            <div id="media-grid" class="col">
                <div class="row">
                    <div id="media-grid-tools" class="col">

                    </div>
                </div>
                <div class="row">
                    <div id="media-grid-content" class="col">
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                        <h1>test</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
