<div id="mobile-button">
    <i class="bi bi-caret-right-fill"></i>
</div>
<div id="header" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">
            <div id="avatar-img-container" class="@(UI.CurrentPageContext.RelativeLink == "/" ? " active" : string.Empty) @(UI.PageIsTransitioning ? "disabled" : string.Empty)">
                <img src="@(AC.Asset("/img/avatar.avif"))" @onclick="NavigateToHome" />
            </div>
        </div>
    </div>
</div>
<main class="container-fluid">
    @ChildContent
</main>
<div id="border"></div>
<div id="footer" class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <i class="bi bi-gear-wide-connected@(UI.IsSettingsMenuVisible ? " active" : string.Empty)" @onclick="ToggleSettingsMenu"></i>
                </div>
            </div>
        </div>
    </div>
</div>
@if (UI.IsSettingsMenuVisible)
{
    <SettingsMenu />
}

@inject AssetCaches AC
@inject UIState UI

@code {

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    private void NavigateToHome() => UI.CurrentPageContext = UI.PageContexts.First(x => x.RelativeLink == "/");
    private void ToggleSettingsMenu() => UI.IsSettingsMenuVisible = !UI.IsSettingsMenuVisible;
}
