@page "/"

<div id="page-home" class="page row justify-content-center align-items-center">
    <div class="col">
        <div class="section row" style="background-image: url('@(AC.Asset("/img/home/background-0.avif"))')">
            <div id="welcome-text" class="col">
                <div class="row">
                    <div class="col">
                        <h1>Connor 'Stryxus' Shearer</h1>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div id="avatar-cutout-container" class="col-auto align-self-end">
                <img id="avatar-cutout" src="@(AC.Asset("/img/cutout.avif"))" alt="Avatar" />
            </div>
        </div>
        <div class="section row">
            <div class="col-6">
                <h1>Who is Connor 'Stryxus' Shearer and whats his story</h1>
                <hr />
                <p>
                    Born 6th November 1998, Doncaster, South Yorkshire, UK with <a target="_blank" href="https://en.wikipedia.org/wiki/Hemiparesis">Left Hemiparesis</a>
                    due to near fatal suffocation at birth, he has strived to understand himself mentally and physically and others with unparralleled detail, in order to live a
                    simpler and healthier life and give comfort to those around him while being unburdening; being as progressive and understanding as possible by defying
                    the ancient as well as modern human status quo of arrogance, stubborness, power hoarding and selfishness.
                    <br />
                    <br />
                    MORE DESCRIPTION
                </p>
            </div>
            <div class="col-6">
                <h1>My Programming Languages, Tools and Skills</h1>
                <hr />
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="section row">
            <div class="col">
                <h1>The two perspectives of this website</h1>
                <hr />
                <p>

                </p>
            </div>
        </div>
        <div class="section row" style="background-color: rgb(10, 10, 10)">
            <div class="col">
                <h1>The two perspectives of this website</h1>
                <hr />
                <p>

                </p>
            </div>
        </div>
    </div>
</div>

@inject AssetCaches AC

@code 
{

}