@page "/"

<div id="page-home" class="page row justify-content-center align-items-center">
    <div class="col">
        <div class="section row justify-content-center" style="background-image: url('@(AC.Asset("/img/home/background-0.avif"))')">
            <div id="welcome-text" class="col">
                <div class="row align-items-center">
                    <div class="col-12 col-md">
                        <h1>Connor 'Stryxus' Shearer</h1>
                        <h3>Welcome, take a look around.</h3>
                    </div>
                </div>
            </div>
            <div id="avatar-cutout-container" class="col-12 col-md align-self-end">
                <img id="avatar-cutout" src="@(AC.Asset("/img/cutout.avif"))" alt="Avatar" />
            </div>
        </div>
        <div class="section row">
            <div class="col-12 col-md-6">
                <h1>Who am I and what is my story?</h1>
                <hr />
                <p>
                    I'm Connor 'Stryxus' Shearer. A programmer, real and virtual photographer and I specialise in consumer level hardware and electronics.
                    <br />
                    <br />
                    Throughout my life, I have always had an interest with taking things apart and putting them back together again, studying every little detail and being exceptional at doing it.
                    I have become known by helping and teaching people and giving them a new insight on many topics; how it/they work while requiring nothing in return. 
                    I am happy to help others at no cost and this is one reason why this place exists.
                    <br />
                    <br />
                    I reside in Doncaster, South Yorkshire, England, UK. One of the newest officially delcared Cities in the UK yet one of the most questionably violent and rundown places in the country.
                    <br />
                    <br />
                    I am on the Autistic Spectrum and have left <a href="https://en.wikipedia.org/wiki/Hemiparesis" target="_blank">Hemiparesis</a> which, in short, 
                    can make the right half of my body's nervous system go haywire randomly and suddenly; I also exhibit muscular weaknesses and senory loss in random places which affect my balance
                    and awareness. As a result, I also exhibit hypersensativity on all five senses where my sensory loss isnt affecting.
                    <br />
                    <br />
                    I am also a sufferer of extreme anxiety and insomnia. Although it may be hard to recognise my anxiety, it is there and I have been forced to mask it to live as 'normal' life as possible.
                    My insomnia makes it near impossible for me to work in conjunction with anxiety; I would get seriously ill quite quickly and my sleeping pattern would be all over the place.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col">
                        <h1>My Programming Languages</h1>
                        <hr />
                        <small>In Knowledgable Order</small>
                        <ul>
                            <li>C#</li>
                            <li>CSS/SCSS/SASS</li>
                            <li>Javascript/Typescript</li>
                            <li>C</li>
                            <li>Python</li>
                            <li>Java</li>
                            <li>C++</li>
                            <li>Swift</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>My Tools</h1>
                        <hr />
                        <ul>
                            <li>Visual Studio</li>
                            <li>Visual Studio Code</li>
                            <li>Github</li>
                            <li>Affinity Photo 2</li>
                            <li>Affinity Designer 2</li>
                            <li>Davinci Resolve</li>
                            <li>Topaz Labs Photo Ai</li>
                            <li>Topaz Labs Video Ai</li>
                            <li>Topaz Labs DeNoise Ai</li>
                            <li>Topaz Labs Gigapixel Ai</li>
                            <li>Topaz Labs Sharpen Ai</li>
                            <li>Midjourney</li>
                            <li>Microsoft Edge</li>
                            <li>Safari</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@inject AssetCaches AC

@code 
{

}