@page "/"

<div id="page-home" class="page row justify-content-center align-items-center">
    <div class="col">
        <div class="section row justify-content-center" style="background-image: url('@(AC.Asset("/img/home/background-0.avif"))')">
            <div id="welcome-text" class="col">
                <div class="row align-items-center">
                    <div class="col-12 col-md">
                        <h1>Connor 'Stryxus' Shearer</h1>
                        <h3>Welcome, take a look around.</h3>
                    </div>
                </div>
            </div>
            <div id="avatar-cutout-container" class="col-12 col-md align-self-end">
                <img id="avatar-cutout" src="@(AC.Asset("/img/cutout.avif"))" alt="Avatar" />
            </div>
        </div>
        <div class="section row">
            <div class="col-12 col-md-6">
                <h1>Who am I and what is my story?</h1>
                <hr />
                <p>
                    I'm Connor 'Stryxus' Shearer. A programmer, real and virtual photographer and I specialise in consumer level hardware and electronics.
                    <br />
                    <br />
                    Throughout my life, I have always had an interest with taking things apart and putting them back together again, studying every little detail and being exceptional at doing it.
                    I have become known by helping and teaching people and giving them a new insight on many topics; how it/they work while requiring nothing in return. 
                    I am happy to help others at no cost and this is one reason why this place exists.
                    <br />
                    <br />
                    I reside in Doncaster, South Yorkshire, England, UK. One of the newest officially delcared Cities in the UK yet one of the most questionably violent and rundown places in the country.
                    <br />
                    <br />
                    I am on the Autistic Spectrum and have left <a rel="noopener noreferrer nofollow" href="https://en.wikipedia.org/wiki/Hemiparesis" target="_blank">Hemiparesis</a> which, in short,
                    can make the right half of my body's nervous system go haywire randomly and suddenly; I also exhibit muscular weaknesses and senory loss in random places which affect my balance
                    and awareness. As a result, I also exhibit hypersensativity on all five senses where my sensory loss isnt affecting.
                    <br />
                    <br />
                    I am also a sufferer of extreme anxiety and insomnia. Although it may be hard to recognise my anxiety, it is there and I have been forced to mask it to live as 'normal' life as possible.
                    My insomnia makes it near impossible for me to work in conjunction with anxiety; I would get seriously ill quite quickly and my sleeping pattern would be all over the place.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col">
                        <h1>My Programming Languages</h1>
                        <hr />
                        <small>In Knowledgable Order</small>
                        <ul>
                            <li><a rel="noopener noreferrer nofollow" href="https://dotnet.microsoft.com/languages/csharp" target="_blank">C#</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://sass-lang.com/" target="_blank">CSS/SCSS/SASS</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://www.typescriptlang.org/" target="_blank">Javascript/Typescript</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank">C</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://www.python.org/" target="_blank">Python</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank">Java</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://isocpp.org/" target="_blank">C++</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://www.swift.org/" target="_blank">Swift</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>My Tools</h1>
                        <hr />
                        <ul>
                            <li><a rel="noopener noreferrer nofollow" href="https://visualstudio.microsoft.com/vs/" target="_blank">Visual Studio Stable/Preview/Mac</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://code.visualstudio.com/?wt.mc_id=DX_841432" target="_blank">Visual Studio Code</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://github.com/" target="_blank">Github</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://affinity.serif.com/en-gb/photo/" target="_blank">Affinity Photo 2</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://affinity.serif.com/en-gb/designer/" target="_blank">Affinity Designer 2</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://www.blackmagicdesign.com/products/davinciresolve/" target="_blank">Davinci Resolve</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://www.topazlabs.com/topaz-photo-ai" target="_blank">Topaz Labs Photo Ai</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://www.topazlabs.com/topaz-video-ai" target="_blank">Topaz Labs Video Ai</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://www.topazlabs.com/denoise-ai" target="_blank">Topaz Labs DeNoise Ai</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://www.topazlabs.com/gigapixel-ai" target="_blank">Topaz Labs Gigapixel Ai</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://www.topazlabs.com/sharpen-ai" target="_blank">Topaz Labs Sharpen Ai</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://www.midjourney.com/" target="_blank">Midjourney</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://www.microsoft.com/edge" target="_blank">Microsoft Edge</a></li>
                            <li><a rel="noopener noreferrer nofollow" href="https://www.apple.com/safari/" target="_blank">Safari</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@inject AssetCaches AC

@code 
{

}