@page "/music"

<div id="page-music" class="page row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>This is an embed test</h1>
                <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/gb/album/ghostrunner-original-soundtrack/1538078931"></iframe>
            </div>
        </div>
    </div>
</div>

@code {

}
