@page "/media"

<div id="page-media" class="page row">
    <div class="col">
        <div class="section row f-h" style="background-image: url('@(AC.Asset($"/img/media/background-{Random.Shared.Next(0, 5)}.avif"))')">
            <div class="col">

            </div>
        </div>
    </div>
</div>

@inject AssetCaches AC

@code {

}
