@page "/setups"

<div id="page-setups" class="page row justify-content-center align-items-center">
    <div class="col">
        <div class="row section">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1>My Setup('s) &amp; Other Things</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
