---
import  './index.sass';

import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import Layout from '~/layouts/layout.astro';

import img_background from '~/assets/images/home/background.png';
---

<Layout>
    <Image id="top-background" class="h-screen" src={img_background} format='avif' quality="mid" alt="Background Image" />
    <h1 id="my-name" class="absolute left-1/2 md:bottom-32 md:top-64 transform -translate-x-1/2 px-8 py-4 rounded-full"></h1>
    <a id="scroll-icon" class="absolute left-1/2 md:bottom-16 md:top-96 transform -translate-x-1/2 p-4 rounded-full " href="#a-content" rel="noopener noreferrer nofollow" draggable="false" aria-label="Button to page body">
        <Icon name="fa/chevron-down-solid" />
    </a>
    <div id="a-content" class="z-2 dividing-line"></div>
    <div class="page z-1 pt-8">
        <ul id="brief">
            <li><span>The introverty, zen person.</span></li>
            <li><span>Favours the blade, sniper and pistol.</span></li>
            <li><span>Prefers stealth, strategy and tactics.</span></li>
            <li><span>Well spoken but rarely speaking.</span></li>
            <li><span>Tracking you at all times.</span></li>
            <li><span>Knows more about you than yourself.</span></li>
            <li><span>A cyber wizard, making the impossible, possible.</span></li>
        </ul>
        <div class="container grid grid-flow-row grid-cols-none gap-8 mt-8 mb-8 ml-auto mr-auto">
            <div class="section w-full">
                <div class="content">
                    <!-- Put random Art here -->
                </div>
            </div>
            <div class="section w-full">
                <div class="content">
                    <!-- Put random Notes here -->
                </div>
            </div>
        </div>
    </div>
    <div id="typer" class="z-0 absolute top-0 left-0 w-screen"></div>
</Layout>

<script>
    import { astroLoad } from './index';
    document.addEventListener('astro:page-load', astroLoad);
</script>
