#preapp
    color: $white

    & > .row
        height: 100%

        h1, h2, h3
            text-align: center

        .warn-desc
            background-color: rgba($white, 0.2)
            padding: 24px
            border-radius: 10px
            
            p
                margin: 0px

        #start-button
            border-radius: 10px
            background-color: $materialYouColour4
            color: $white
            transition: 0.33s
            cursor: pointer
            margin-top: 24px

            &:hover
                background-color: $white
                color: $materialYouColour4

        #test-card-grid
            margin-top: 24px
            margin-bottom: 24px

            h2
                margin-top: 48px

            .test-card
                background-color: $white
                border-radius: 10px
                color: $black

                & > .row
                    margin-top: 12px
                    margin-bottom: 12px
                    margin-left: 0px
                    margin-right: 0px

                    & > .col-auto
                        padding-top: 18px
                        padding-bottom: 18px
                        padding-right: 6px

                i
                    font-size: 30px
                    background-color: $black
                    color: $white
                    padding-top: 6px
                    padding-bottom: 3px
                    padding-left: 6px
                    padding-right: 5px
                    border-radius: 10px

                p
                    font-weight: bold

                small
                    margin-bottom: 18px

                &.good, &.bad
                    i
                        background-color: $white

                &.good
                    background-color: green
                    color: $white

                    i
                        color: green

                &.bad
                    background-color: red
                    color: $white

                    i
                        color: red

    #footer
        font-size: 40px
        height: 80px

        & > .row
            height: inherit

@include media-breakpoint-up(sm) // [768px] Larger Than Small
@include media-breakpoint-up(md) // [992px] Larger Than Medium
    #preapp
        padding-top: 24px !important

        & > .row

            .warn-desc
                margin: 24px

            #test-card-grid

                .test-card
                    margin: 24px

@include media-breakpoint-up(lg) // [1200px] Larger Than Larger
@include media-breakpoint-up(xl) // [14000px] Larger Than XLarger
@include media-breakpoint-down(sm) // [767.98px] Smaller Than Small
@include media-breakpoint-down(md) // [991.98px] Smaller Than Medium
    #preapp
        
        & > .row

            .warn-desc
                margin: 8px

            #test-card-grid

                .test-card
                    margin: 8px

@include media-breakpoint-down(lg) // [1199.98px] Smaller Than Large
@include media-breakpoint-down(xl) // [1399.98px] Smaller Than XLarge
@include media-breakpoint-only(sm) // [768px] Small Only
@include media-breakpoint-only(md) // [992px] Medium Only
@include media-breakpoint-only(lg) // [1200px] Large Only
@include media-breakpoint-only(xl) // [1400px] XLarge Only
