#preapp
    background-color: $black
    color: $white
    padding: 24px
    & > .row
        height: 100%

        h2, h3
            text-align: center

        #start-button
            border-radius: 10px
            background-color: $materialYouColour2
            color: $white
            transition: 0.33s
            cursor: pointer

            &:hover
                background-color: $materialYouColour4

        #test-card-grid

            h2
                margin-top: 48px

            .test-card
                background-color: $white
                border-radius: 10px
                color: $black
                margin: 12px

                & > .row
                    & > .col-auto
                        padding-top: 18px
                        padding-bottom: 18px
                        padding-right: 6px

                i
                    font-size: 30px
                    background-color: $black
                    color: $white
                    padding: 6px
                    border-radius: 10px

                p
                    font-weight: bold

                small
                    margin-bottom: 18px
#preapp-footer
    font-size: 40px
    padding: 24px
    i
        padding: 12px