// This is where the main overall theme is stored
    
@import "variables"
@import "preapp"
@import "components/components"
@import "pages/pages"

*
    user-select: none

    &:focus 
        outline: none

body
    margin: 0px
    font-family: Arial, Helvetica, sans-serif
    letter-spacing: 0.75px
    background-color: $materialYouColour2
    color: white
    overflow-x: hidden

img
    display: block
    width: 100%
    height: 100%
    object-fit: contain
    overflow: hidden

button
    outline: none
    border: none
    padding: 20px

    h1, h2, h3, h4, h5, h6, p, small
        margin: 0px

small
    display: block

a
    color: white
    text-decoration: none

    &:link, &:visited
        color: $whiteTransparencyHigh
        text-decoration: none
    &:hover, &:focus, &:active
        color: $whiteTransparencyLow
    &::after
        background-image: url("./img/link-icon.svg")
        background-size: 12px 12px
        width: 12px
        height: 12px
        object-fit: contain
        display: inline-block
        content: ""
        filter: invert(100%)

h1, h2, h3, h4, h5, h6
    font-weight: normal

p, small
    font-weight: lighter

// Rounded Elements

.rounded
    border-radius: $borderRadius + px
    padding: $borderRadius + px

.rounded-top
    border-top-left-radius: $borderRadius + px
    border-top-right-radius: $borderRadius + px
    padding-top: $borderRadius + px
    padding-left: $borderRadius + px
    padding-right: $borderRadius + px

.rounded-bottom
    border-bottom-left-radius: $borderRadius + px
    border-bottom-right-radius: $borderRadius + px
    padding-bottom: $borderRadius + px
    padding-left: $borderRadius + px
    padding-right: $borderRadius + px

.rounded-left
    border-top-left-radius: $borderRadius + px
    border-bottom-left-radius: $borderRadius + px
    padding-top: $borderRadius + px
    padding-bottom: $borderRadius + px
    padding-left: $borderRadius + px

.rounded-right
    border-top-right-radius: $borderRadius + px
    border-botom-right-radius: $borderRadius + px
    padding-top: $borderRadius + px
    padding-bottom: $borderRadius + px
    padding-right: $borderRadius + px

// Material Icons

.material-symbols-outlined, .material-symbols-rounded, .material-symbols-sharp
    font-variation-settings: 'FILL' 1

// Bootstrap Overrides

//[class*='col-'], .col

@include media-breakpoint-up(sm) // [768px] Larger Than Small
@include media-breakpoint-up(md) // [992px] Larger Than Medium

// Scrollbar

/* width */
::-webkit-scrollbar
    width: 16px
    margin-right: $bootstrapMargin + px

/* Track */
::-webkit-scrollbar-track
    background: $materialYouColour1

/* Handle */
::-webkit-scrollbar-thumb
    background: $materialYouColour2

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: $materialYouColour3

@include media-breakpoint-up(lg) // [1200px] Larger Than Larger
@include media-breakpoint-up(xl) // [14000px] Larger Than XLarger
@include media-breakpoint-down(sm) // [767.98px] Smaller Than Small
@include media-breakpoint-down(md) // [991.98px] Smaller Than Medium

@include media-breakpoint-down(lg) // [1199.98px] Smaller Than Large
@include media-breakpoint-down(xl) // [1399.98px] Smaller Than XLarge
@include media-breakpoint-only(sm) // [768px] Small Only
@include media-breakpoint-only(md) // [992px] Medium Only
@include media-breakpoint-only(lg) // [1200px] Large Only
@include media-breakpoint-only(xl) // [1400px] XLarge Only
