// This is where all global SASS variables are stored

$transparencyLow: 0.85
$transparencyHigh: 0.45

// Colours
$black: rgb(10, 10, 10)
$white: rgb(249, 249, 249)

$blackTransparencyLow: rgba($black, $transparencyLow)
$whiteTransparencyLow: rgba($white, $transparencyLow)

$blackTransparencyHigh: rgba($black, $transparencyHigh)
$whiteTransparencyHigh: rgba($white, $transparencyHigh)

$materialYouColour1: rgb(0, 15, 0)
$materialYouColour2: rgb(0, 66, 5)
$materialYouColour3: rgb(0, 117, 56)
$materialYouColour4: rgb(0, 168, 107)

$materialYouColour1TransparencyLow: rgba($materialYouColour1, $transparencyLow)
$materialYouColour2TransparencyLow: rgba($materialYouColour2, $transparencyLow)
$materialYouColour3TransparencyLow: rgba($materialYouColour3, $transparencyLow)
$materialYouColour4TransparencyLow: rgba($materialYouColour4, $transparencyLow)

$materialYouColour1TransparencyHigh: rgba($materialYouColour1, $transparencyHigh)
$materialYouColour2TransparencyHigh: rgba($materialYouColour2, $transparencyHigh)
$materialYouColour3TransparencyHigh: rgba($materialYouColour3, $transparencyHigh)
$materialYouColour4TransparencyHigh: rgba($materialYouColour4, $transparencyHigh)
//

// Bootstrap
$bootstrapMargin: 12
//

// Site Container
$siteContainerSectionHeight: 70
//

// NavigationBar
$navigationBarWidth: 100
//


// Z Index's
$zIndexPageTransitioner: -1
$zIndexNavigationBar: 0
$zIndexAvatarContainer: 1
$zIndexMain: 2
$zIndexSiteContainer: 3
$zIndexMainBorder: 4
$zIndexMobileButton: 5
//

// Styles
$borderRadius: 50
$blurRadius: 24
//
