---
import '../footer/_footer.sass'

import { Icon } from 'astro-icon/components'
---

<footer class="h-16 flex justify-center" transition:persist="footer">
    <div class="flex flex-row space-x-4">
        <div class="link-container flex-none">
            <Icon name="fa/x-twitter-brands-solid" />
        </div>
        <div class="link-container flex-none">
            <Icon name="fa/discord-brands-solid" />
        </div>
        <div class="link-container flex-none">
            <Icon name="fa/github-brands-solid" />
        </div>
        <div class="link-container flex-none">
            <Icon name="fa/instagram-brands-solid" />
        </div>
        <div class="link-container flex-none">
            <Icon name="fa/youtube-brands-solid" />
        </div>
    </div>
</footer>