@import '../..//lib/_variables'
    
footer
    background-color: black
    user-select: none
    .link-container, .side-container
        line-height: 64px
        & > *
            padding: 6px 12px
            border-radius: 20px
            font-weight: 600
    .link-container
        width: 64px
        padding: 16px
        a
            padding: 0px
            &:hover
                color: $yellow
            svg
                width: 80%
                height: 80%
    .side-container
        text-align: center
        button
            &:hover
                background-color: $yellow
                color: black