---
import '../footer/footer.sass';

import { Icon } from 'astro-icon/components';
---

<footer class="md:h-16 flex flex-col md:flex-row w-full">
    <div class="side-container justify-center content-center w-screen md:w-56">
        <p>© {new Date().getFullYear()} Stryxus</p>
    </div>
    <div class="flex-grow flex justify-center content-center">
        <div class="link-container">
            <a rel="noopener noreferrer nofollow" target="_blank" href="https://bsky.app/profile/stryxus.xyz" draggable="false">
                <Icon name="fa/bluesky-brands-solid" />
            </a>
        </div>
        <div class="link-container">
            <a rel="noopener noreferrer nofollow" target="_blank" href="https://github.com/Stryxus" draggable="false">
                <Icon name="fa/github-brands-solid" />
            </a>
        </div>
        <div class="link-container">
            <a rel="noopener noreferrer nofollow" target="_blank" href="https://www.instagram.com/stryxus_/" draggable="false">
                <Icon name="fa/instagram-brands-solid" />
            </a>
        </div>
        <div class="link-container">
            <a rel="noopener noreferrer nofollow" target="_blank" href="https://www.youtube.com/channel/UCnLgNxhTuEsl6M_d8CKQS8g" draggable="false">
                <Icon name="fa/youtube-brands-solid" />
            </a>
        </div>
    </div>
    <div class="side-container justify-center content-center w-screen md:w-56">
        <button draggable="false">
            <p>About this website</p>
        </button>
    </div>
</footer>