---
import '../footer/footer.sass'

import { Icon } from 'astro-icon/components'
---

<footer class="h-16 flex justify-center" transition:persist="footer">
    <div class="flex flex-row">
        <div class="link-container flex-none">
            <a rel="noopener noreferrer nofollow" target="_blank" href="https://x.com/Stryxus" draggable="false">
                <Icon name="fa/x-twitter-brands-solid" />
            </a>
        </div>
        <div class="link-container flex-none">
            <a rel="noopener noreferrer nofollow" target="_blank" href="https://x.com/Stryxus" draggable="false">
                <Icon name="fa/discord-brands-solid" />
            </a>
        </div>
        <div class="link-container flex-none">
            <a rel="noopener noreferrer nofollow" target="_blank" href="https://github.com/Stryxus" draggable="false">
                <Icon name="fa/github-brands-solid" />
            </a>
        </div>
        <div class="link-container flex-none">
            <a rel="noopener noreferrer nofollow" target="_blank" href="https://www.instagram.com/stryxus_/" draggable="false">
                <Icon name="fa/instagram-brands-solid" />
            </a>
        </div>
        <div class="link-container flex-none">
            <a rel="noopener noreferrer nofollow" target="_blank" href="https://www.youtube.com/channel/UCnLgNxhTuEsl6M_d8CKQS8g" draggable="false">
                <Icon name="fa/youtube-brands-solid" />
            </a>
        </div>
    </div>
</footer>