---
/*
interface Props {
	title: string;
}

const { title } = Astro.props;
*/
import "../layouts/Layout.sass";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<SEO
			title="Stryxus"
			description="Stryxus' Personal Website."
			openGraph={{
				basic: {
					title: "A Very Descriptive Title",
					type: "A type.",
					image: "https://stryxus.xyz/og.pngg",
				}
			}}
			twitter={{
				creator: "@Stryxus"
			}}
			extend={{
				// extending the default link tags
				link: [{ rel: "icon", href: "/favicon.png" }],
				// extending the default meta tags
				meta: [
					{
						name: "twitter:image",
						content: "https://stryxus.xyz/og.png",
					},
					{ name: "twitter:title", content: "Stryxus" },
					{ name: "twitter:description", content: "Stryxus' Personal Website." },
				],
			}}
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
